* {
line-height: 5px;
}

#Nav {
    width: 100%;
    justify-content: space-evenly;
}

#Name {
    background-color: white;
    /* width: 20rem; */
    padding: 1rem;

    /* margin-left: 200px; */
}


#ContactCard {
    background-color: white;
    /* width: 20rem; */
    height: 260px;
    padding: 1rem;
    /* padding-right: 1rem; */
    /* margin-left: 200px; */
}

#ContactCardContent{
    padding-top: 20px;
    line-height: 5px;
    height: 240px;
}


#spacer {
    height: 1.8rem;
}

.thumbnails {
    width: 20px;
    height: 20px;
}


#NavCard {
    background-color: white;
    /* width: 20rem; */
    height: 10px;
    padding: 1rem;
    justify-content: space-evenly;
    display: flex;
    /* flex-direction: column; */
    /* padding-right: 1rem; */
    /* margin-left: 200px; */
}

.navcontent {
    /* margin-bottom: 2.3rem; */
}
