body {
    background-color: #E5E5E5;
    ;
}
.label {
    background-color: white;
    width: fit-content;
    padding: 4px;
    border-radius: 20px;
}


.flex {
    display: flex;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.border {
    border: solid red 1px;
}