.grid-container-skill {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    gap: 20px;
    padding: 10px;
    justify-content: space-evenly;
}

.grid-item-skill {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 20px;
    text-align: center;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-repeat: none;
    background-size: cover;
}